.gridsvg {
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden !important;
}
.gridsvg * {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.grid:active {
    cursor: move;
}
.grid {
    overflow: scroll;
}
