.gridsvg {
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden !important;
}
.gridsvg * {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.grid:active {
    cursor: move;
}
.grid {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    max-height: 100%;
    position: relative;
    overflow: scroll;
    grid-auto-rows: 1fr;
}