.toolbar {
    max-height: 100%;
    background: var(--background-panel);
    box-shadow: var(--shadow);
    display: inline-flexbox;
    flex-basis: auto;
    position: relative;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    align-self: center;
    justify-self: center;
}