.App {
  text-align: center;
  width: 100%;
  color: var(--text);
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: grid;
  background: var(--background);
  grid:
    [viewport-top] auto
    [toolbar-bot] 5px
    [toast-top] auto
    [toast-bottom] 1fr
    [viewport-bot]/
    [viewport-left] minmax(0, 1fr) [viewport-right];
}

.App > .grid {
  grid-area: viewport-top / viewport-left / viewport-bot / viewport-right;
  position: relative;
  z-index: 1;
}

.App > .toolbar {
  grid-area: viewport-top / viewport-left / toolbar-bot / toolbar-right;
  z-index: 10000;
}

.App > .toastArea {
  grid-area: toast-top / viewport-left / toast-bottom / viewport-right;
  place-self: center center;
  max-width: 700px;
  width: 100%;
  z-index: 1000000;
}
.App > .loading {
  grid-area: viewport-top / viewport-left / viewport-bot / viewport-right;
  background: rgba(100, 100, 100, 0.7);
  z-index: 1000000;
}
.App > #join {
  grid-area: viewport-top / viewport-left / viewport-bot / viewport-right;
  position: relative;
  z-index: 1000000;
}

:root {
  --accent: #4242ef;
  --background: Field;
  --background-panel: rgb(246, 246, 246);
  --shadow: 0 0 10px rgb(100, 100, 100);
  --text: canvastext;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --accent: #4242ef;
    --background: rgb(14, 14, 14);
    --background-panel: rgb(50, 50, 50);
    --shadow: 0 0 10px #030303;
    --text: rgb(246, 246, 246);
  }
} */
