.App {
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: grid;
  grid:
    [viewport-top] 1fr
    [toolbar-top] 40px
    [toolbar-bot] 15px
    [viewport-bot]/
    [viewport-left] minmax(0, 1fr) [toolbar-left]auto[toolbar-right]minmax(0, 1fr)[viewport-right];
}

.App > .grid {
  grid-area: viewport-top / viewport-left / viewport-right / viewport-bot;
  z-index: 1;
}

.App > .toolbar {
  grid-area: toolbar-top / toolbar-left / toolbar-bot / toolbar-right;
  z-index: 1000000;
}