:root {
}

.shadow {
        box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

bg-viewport::part(background) {
    background: rgb(#fefefe);
}

bg-viewport::part(rightbar) {
  width: 10px;
}
bg-viewport::part(bottombar) {
  height: 10px;
}
bg-viewport::part(bar) {
  background: rgb(50, 50, 50);
  opacity: 0.5;
}
bg-viewport::part(bar):hover {
  opacity: 1;
}